@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  font-display: swap;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: "Sora", sans-serif;
    font-display: swap;
  }
}
